<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Cheia com Botão</title>
    <link rel="stylesheet" href="http://{{.host}}/assets/style.css">
</head>

<body>
    <div class="button-container" id="fullscreen-element">
        <!-- Botões da metade superior -->
        <button class="button" onclick="mostrarAlerta('1')"></button>
        <button class="button" onclick="mostrarAlerta('2')"></button>
        <button class="button" onclick="mostrarAlerta('3')"></button>
        <button class="button" onclick="mostrarAlerta('4')"></button>
        <button class="button" onclick="mostrarAlerta('6')"></button>
        <button class="button" onclick="mostrarAlerta('6')"></button>
        <button class="button" onclick="mostrarAlerta('7')"></button>
        <button class="button" onclick="mostrarAlerta('8')"></button>
    </div>
    <div class="fs-config">
        <button onclick="activateFullScreen()">Full Screen Mode</button>
    </div>

    <script src="http://{{.host}}/assets/fullscreen.js"></script>
    <script src="http://{{.host}}/assets/script.js"></script>
</body>

</html>

